<?xml version="1.0" ?>
<robot name="robot">
    <webots>
        <device reference="lidar2D" type="Lidar">
            <ros>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="robot_controller::RobotController" />
        <plugin type="webots_ros2_driver::Ros2RGBD">
            <camera>camera</camera>
            <rangeFinder>rangeFinder</rangeFinder>
            <topicName>/rbgd_cloud</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>lidar2D</frameName>
        </plugin>
    </webots>
</robot>